.lotteryWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgba(0, 26, 31, 0.9);

  .lotteryPop {
    width: 100vh;
    height: 56.25vh;

    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.6vw;

    z-index: 100;

    @media screen and (max-width: 768px) {
      width: 90vw;
      height: 50.625vw;
      border-radius: 3vw;
    }
  }

  .lotteryImg {
    width: 100%;
    height: 100%;
    border-radius: 0.6vw;
    object-fit: cover;
    // backface-visibility: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    animation: flipBounceReset 0.6s ease-in-out;

    @media screen and (max-width: 768px) {
      border-radius: 3vw;
    }
  }
  .closeBtn {
    position: relative;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 236, 236, 0.2);
    border-radius: 50%;
    margin: 1vw;

    user-select: none;

    @media screen and (max-width: 768px) {
      width: 18vw;
      height: 18vw;
      margin-top: 15vw;
    }

    &::before {
      content: "";
      position: absolute;
      height: 0.4vw;
      width: 4vw;
      border-radius: 0.25vw;
      animation: formY 0.3s ease-in-out 1.5s forwards;
      background-color: #ff6666;

      @media screen and (max-width: 768px) {
        height: 0.8vw;
        width: 11vw;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 0.4vw;
      width: 4vw;
      border-radius: 0.25vw;
      animation: formX 0.3s ease-in-out 1.5s forwards;
      background-color: #ff6666;
      @media screen and (max-width: 768px) {
        height: 0.8vw;
        width: 11vw;
      }
    }
    &:hover {
      //   background-color: #ffdedc;
      &::before,
      &::after {
        background-color: #ff3c3c;
      }
    }
  }
}

.hide {
  display: none;
}

@keyframes flipBounceReset {
  0% {
    transform: rotateX(180deg) scale(1);
  }
  40% {
    transform: rotateX(90deg) scale(1.05);
  }
  60% {
    transform: rotateX(0deg) scale(0.98);
  }
  80% {
    transform: rotateX(0deg) scale(1.02);
  }
  100% {
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes formX {
  0% {
    rotate: calc(0deg);
  }
  100% {
    rotate: calc(-45deg);
  }
}

@keyframes formY {
  0% {
    rotate: calc(0deg);
  }
  100% {
    rotate: calc(45deg);
  }
}
