html,
body {
  font-family: "Comic Sans MS", "kaiti";

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row-reverse;
  position: relative;

  background-color: #075e61;

  @media screen and (max-width: 768px) {
    .pageContainer {
      flex-direction: column;
    }
  }
}
